:root {
--dark: #11004d;
--bright: rgb(118, 198, 212); 
--shaded: #2e17b118;
}

* {
    color: var(--dark);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

.main-header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
    background-color: var(--dark);
    color: var(--bright);
}

.main-title {
    background-color: var(--bright);
    color: var(--dark); 
    padding-left: 25px;
    font-size: 45px;
}

nav a {
    color: var(--bright);
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
}

nav a:hover {
    transition: background-color 1s;
    background-color: rgb(65, 44, 255);
}

.banner {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
}

.banner h2 {
    color: var(--bright);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 10px 10px 0;
    font-size: 22px;
    font-weight: bolder;
    background-color: var(--bright);
    color: var(--dark);
    padding: 10px;
}

.content {
    width: 97%;
    display: flex;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    flex-wrap: wrap;
}

#about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    background-color: var(--shaded);
    border-radius: 10px;
}

#about-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-shadow: 0 0 3px var(--dark);
}

#about-me img {
    max-height: 200px;
    max-width: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #ccc;
}

#image-bp {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}
/*HELP!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#work {
    margin-bottom: 20px;
    padding: 50px;      
    background-color: var(--shaded);
    border-radius: 10px;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;

}

#work h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-shadow: 0 0 3px var(--dark);
    width: 25%;
    height: auto;
    flex-direction: column;
    flex: 1 1 100px;
}

#work a {
    margin: auto;
    flex: 1 0 500px;
    position: relative;
}

#work a img {
    border: 5px solid var(--bright);
    filter: blur(2px);
    transition: 0.5s ease-in-out;
    flex: 1 0 100px;
}

#work a:hover img {
    filter: blur(0px);
 }


 .project-title {
     position: absolute;
     z-index: 1;
     top: 100px;
     left: 10px;
     background-color: var(--bright);
     padding: 5px;
 }


#contact-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    background-color: var(--shaded);
    border-radius: 10px;
    width: 100%;
}

#contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-shadow: 0 0 3px var(--dark);
    width: 30%;
}

#contact-me a{
    margin: auto;
}

a:hover {
    background-color: var(--shaded);
}

footer {
    background-color: var(--dark);
    height: 30px;
}

@media screen and (max-width: 900px) {
    .main-header {
        flex-direction: column;
    }
    .main-title {
        width: 100%;
        font-size: 40px;
        text-align: center;
    }
    #contact-me {
        flex-direction: column;
    }
    
    


